*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
body{
    background: #fff;
}
html{
    scroll-behavior: smooth;
    line-height: 1.125;
}

//--------------------- The main part----------------------
.step {
    max-width: 100%;
    position: relative;
    left: -27%;
    width: 40%;
    top: 60px;
    height: auto;
    font-size: 1.2rem;
}