*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    /* color-scheme: light dark; */
    line-height: 1.125;
}
@font-face {
  font-family: 'Vazir';
  src: url(../font/Vazir-Light-FD-WOL.ttf);
}
:root{
    --white:#fff;
    --dark:#000;
    --link--color: #686868;
}
.dark-mode{
  background: var(--white);
  color: var(--dark);
}
body{
  /* background: #000; */
    font-family: Vazir;
    overflow-x: hidden;
    font-weight: 700;
    font-size: 15px;
    background: var(--dark);   
}

ul.desktop {
  list-style: none;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  right: 0;
  top: 0;
  display: flex;
  gap: 1.3rem;
  justify-content: center;
  align-items: center;
  }
  a{
    color: var(--link--color);
    font-size: 1rem;
    text-decoration: none;
  }
  .active__link{
    color: rgb(18, 18, 18);
  }
  a:is(:hover){
    color: rgb(204,161,11);
  }
  #logo__header {
    filter: brightness(12deg);
    transition: 3s ease-in-out all;
    width: 194px;
    height: 31px;
    max-height:32px;
  }
.bg__color{
    background:  rgb(29,29,31) ;
}
.color__txt{
    color: var(--white);
    padding: 10px;
  border: none;
  border-radius: 10px;
}
.wrapper__content {
  max-width: 100%;
  margin: 60px 0 0 0;
}
.txt__art {
  font-size: 2rem;
}
.des {
  font-size: 0.98rem;
  width: 80%;
  line-height: 1.5;
  max-width: 100%;
  color: rgba(51, 51, 51, 0.65);
  white-space: collapse;
  padding-top: 10px;
  overflow: initial;
}
.first__Section {
  display: flex;
  justify-content: center;
}
.left__Wedding {
  overflow: hidden;
  max-width: 100%;
  width: 1600px;
  margin: 40px 0 0 0;
  border-radius: 10px;
  padding-left: 30px;
  margin: 40px 0 0 0;
  border-radius: 1rem;
  border-radius: 10px;
}
ul.desktop.sidebar__right {
  position: fixed;
    width: 40px;
    height: 100%;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #fff;
    display: none;
}
ul.desktop.sidebar {
  display: flex;
}
img.w__fix:hover {
  border-radius: 50%;
  transition: 1.2s ease-out;
}
button.bg__color.color__txt {
  width: 100px;
  padding: 12px;
  line-height: 1.2;
  font-size: 16px;
}
.sidebar__right{
  display: none;
}
.yellow{
  color: #cca177;
}

.art {
  padding: 8px;
  font-size: 3.2rem;
}
.package,.wirefame {
  background: #000;
  color: #fff;
  border-radius: 10px;
  border: none;
  padding: 10px;
}
.wrapper__btn {
  display: flex;
  gap: 1rem;
 
  margin: 30px 0 0 0;
}
main{
  max-width: 100%;
  overflow: hidden;
}
.full__flex {
  max-width: 100%;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  margin: 120px 0 0 0;
  color: #fff;
  justify-content: center;
  align-items: center;
}
.first__row{
  border-radius: 10px;
  background: #fff;
  width: 300px;
  color: #000;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.second__row{
  border-radius: 10px;
  /* background: #000; */
  width: 300px;
  color: #000;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.third__row{
  color: #000;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.fourth__row{
  border: 2px solid #000;
  border-radius: 10px;
  /* background: #000; */
  width: 300px;
  height: 300px;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.fifth__row{
  border-radius: 10px;
  background: #000;
  width: 300px;
  height: 300px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
.first__column{
  border-radius: 10px;
  width: 300px;
  height: 300px;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card__txt {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.seven__row{
  border-radius: 10px;
  color: #000;
  /* background: #000; */
  width: 300px;
  height: 300px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.eight__row{
  border-radius: 10px;
  /* background: #000; */
  width: 300px;
  color: #000;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.call__us {
  display: block;
  display: inline;
  width: 100px;
  background: #000;
  color: #fff;
  border-radius: 1rem;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  white-space: nowrap;
  width: 130px;
  max-width: 131px;
}
.container__second__column {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 30px;
}
.wedding__titl {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.title__third {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.total_des {
  font-size: 16px;
 
}

.w__fix{
  width: 300px;
  height: 500px;
}
.wedding__wireframe {
  overflow: hidden;
  margin: 70px 0 0 0;
}
.explain__wireframe {
  font-size: 1rem;
  font-weight: 500;
}
.wireframe__Section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 30px 0 0 0;
}
.title__wireframe {
  font-size: 1.4rem;
  padding: 20px;
}
.w-\[48rem\].max-w-none.rounded-xl.shadow-xl.ring-1.ring-gray-400\/10.sm\:w-\[57rem\].md\:-ml-4.lg\:-ml-0 {
  width: 510px;
  height: 366px;
}
/* Style the loader container and text */
#loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader-text {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
// light-mode
/* switch settings 👇 */

.ui-switch {
  /* switch */
  --switch-bg: rgb(135, 150, 165);
  --switch-width: 48px;
  --switch-height: 20px;
  /* circle */
  --circle-diameter: 32px;
  --circle-bg: rgb(0, 56, 146);
  --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

.ui-switch input {
  display: none;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.slider .circle {
  top: calc(var(--circle-inset) * -1);
  left: 0;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  position: absolute;
  background: var(--circle-bg);
  border-radius: inherit;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  ;
}

.slider .circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: inherit;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
}

/* actions */

.ui-switch input:checked+.slider .circle {
  left: calc(100% - var(--circle-diameter));
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
}

.ui-switch input:active+.slider .circle::before {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}

// btn
.btn {
  width: 6.5em;
  height: 2.3em;
  margin: 0.5em;
  background: black;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
 }
 
 button:hover {
  color: black;
 }
 
 button:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
 }
 
 button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
 }
//  footer__icon
ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}
