
@tailwind base;
@tailwind components;
@tailwind utilities;
.text-center {
    text-align: center;
  }
  .header_title{
    font-size: 0.98rem;
    width: 80%;
    line-height: 1.5;
    max-width: 100%;
    color: rgba(51, 51, 51, 0.65);
    white-space: collapse;
    padding-top: 10px;
    overflow: initial;
  }
 .font18{
    font-size: 18px;
  }
  .white-color{
    color: white;
  }
  .flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wire__txt{
    font-size: 1rem;
    font-weight: 500;
  }
  .wal_hpicture_left{
    overflow: hidden;
    max-width: 100%;
    width: 1600px;
    border-radius: 10px;
    padding-left: 30px;
    border-radius: 1rem;
    border-radius: 10px;
    margin-top: 40px;
    margin-right: 14px;
  }
  
  .f-hight{
    height: 100vh;
  }
  #body__signup{
    background: url(../../public/images/wal__resept__pass.jpg);
    width: 100%;
    object-fit: contain;
    background-repeat: no-repeat;
    /* height: 100vh; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .fc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
  } 
  aside#menu_tailwind {
    position: absolute;
    z-index: 9999;
    margin-top: -20px;
}
.left_close_icon {
  width: 100%;
  height: auto;
  top: 0;
  height: 100px;
  left: 10px;
    top: 0;
    height: 100px;
}
.close_menu{
  width: 50px;
    position: absolute;
    left: 0;
    top: 0;
    top: 0;   
}
.sidebar__mobile{
  background: #fff;
  --color:#fff;
  color: var(--color);
  width: 240px;
  height: 100vh;

}
.sidebar__mobile {
  background: #fff;
  --color: #000;
  color: var(--color);
  width: 240px;
  position: fixed;
  height: 100vh;
  padding: 10px;
  gap: 10px;
  /* position: fixed; */
    margin-top: -20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    gap: 10px;
}
ul.mobile__list {
  display: flex;
    /* flex-direction: column; */
    padding: 10px;
    flex-direction: column;
    gap: 0.80rem;
    margin-top: 170px;
}
.gray__link{
  --gray:#555755;
  color: var(--gray);
}
img.indicator_links {
  position: absolute;
  right: -4px;
  top: 170px;
}
img.close_icon {
  position: fixed;
  top: 40px;
  right: 190px;
}
img#logo_tatri {
  position: absolute;
    width: 200px;
    /* height: auto; */
    top: 80px;
    z-index: -9999;
    max-width: 100%;
}
.signup {
  text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    background: darkblue;
    color: rgb(156, 163, 175);
    padding: 10px;
    font-family: 1rem;
    position: fixed;
    border-radius: 10px;
    top: 500px;
    width: 200px;
    font-size: 1.2rem;
    display: inline-flex;
    left: 20px;
}