<!DOCTYPE html>
<html lang="fa-IR" dir="rtl" x-data :data-theme="$store.theme.themeName">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="جواد مرادخواه" />
    <meta name="description" content="بهترین قالب پنل مدیریت فارسی در ایران" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.png" />
    <title>مگارا | داشبورد</title>
  </head>
  <body class="md:mr-56">
    <main class="p-4 space-y-4"></main>

    <!-- Drawer Overlay - START -->
    <div
      class="fixed md:hidden z-50 top-0 left-0 right-0 bottom-0 bg-black bg-opacity-40"
      :class="$store.sidebar.open ? 'block' : 'hidden'"
      @click="$store.sidebar.toggle()"
    ></div>
    <!-- Drawer Overlay - END -->

    <!-- Loading - START -->
    <div
      id="loading-splash"
      class="fixed z-[100] top-0 left-0 right-0 bottom-0 bg-base-100 flex justify-center items-center"
    >
      <span class="loading loading-spinner loading-lg text-primary"></span>
    </div>
    <!-- Loading - END -->

    <script type="module" src="/js/app.js"></script>
  </body>
</html>
