@font-face {
    font-family: IRANSansX;
    src: url(../../assets/fonts/IRANSansXFaNum-Regular.woff);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: IRANSansX;
    src: url(../../assets/fonts/IRANSansXFaNum-Light.woff);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: IRANSansX;
    src: url(../../assets/fonts/IRANSansXFaNum-Medium.woff);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: IRANSansX;
    src: url(../../assets/fonts/IRANSansXFaNum-Black.woff);
    font-style: normal;
    font-weight: 800;
}


@font-face {
    font-family: IRANSansX;
    src: url(../../assets/fonts/IRANSansXFaNum-Bold.woff);
    font-style: normal;
    font-weight: 850;
}

@font-face {
    font-family: IRANSansX;
    src: url(../../assets/fonts/IRANSansXFaNum-ExtraBold.woff);
    font-style: normal;
    font-weight: 900;
}

body {
    font-family: IRANSansX;
}